{%  extends "Base.html" %}
    {% load staticfiles %}
    {% block title %}
        <title> Rol </title>
    {% endblock %}
    {% block sidebar %}
        <ul >
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'Crear_Rol' %}">Crear</a></li>
            <li><a href="{% url 'Autorizar_Rol' %}">Autorizacion</a></li>
            <li><a href="{% url 'Privilegio_Rol' %}">Privilegio</a></li>
            <li><a href="{% url 'Buscar_Rol' %}">Editar</a></li>
            <li><a href="{% url 'BuscarPrivilegio_Rol' %}">Editar Privilegio</a></li>
            <li><a href="{% url 'BuscarAutorizacion_Rol' %}">Editar Autorizacion</a></li>
        </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}