{% extends "DBA/Base.html" %}
{% block content %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <h>Genere un back up de la base de datos actual:</h>
        <br>
        <br>
        <form action="/DBA/backup/" method="post">
         {% csrf_token %}
            <input type="submit" value="BackUp">
        </form>
{% endblock %}