{% extends "DBA/Base.html" %}
{% block content %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}


        <form enctype="multipart/form-data"  action="/DBA/restaurar/" method="post">
         {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Restaurar">
        </form>
{% endblock %}