{%  extends "Base.html" %}
    {% load staticfiles %}
    {% block title %}
        <title> Cuentas</title>
    {% endblock %}
    {% block sidebar %}
        <ul >
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'Crear_Cuenta' %}">Crear</a></li>
            <li><a href="{% url 'Asignar_Cuenta' %}">Asignar</a></li>
            <li><a href="{% url 'Tipo_Cuenta' %}">Crear Tipo de Cuenta</a></li>
            <li><a href="{% url 'Consultar_Saldo' %}">Consultar Saldo</a></li>
        </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}