{% extends "Senda/Base.html" %}

{% block content %}
    {% if logs.count %}
        <table style="width:100%" border="1">
        <tr>
            <th>Id</th>
            <th>idUsuario</th>
            <th>idTrasaccion</th>
            <th>idCuenta</th>
            <th>Programa</th>
            <th>fecha</th>
            <th>hora</th>
            <th>saldo_inicial</th>
            <th>saldo</th>
            <th>debito</th>
            <th>credito</th>
            <th>autorizacion</th>
            <th>rechazo</th>
            <th>razonRechazo</th>
        </tr>
            {% for log in logs %}
            <tr>
                <td align="center">{{ log.id}}</td>
                <td align="center">{{ log.idUsuario.id }}</td>
                <td align="center">{{ log.idTrasaccion.id}}</td>
                <td align="center">{{ log.idCuenta.id}}</td>
                <td align="center">{{ log.idPrograma}}</td>
                <td align="center">{{ log.fecha}}</td>
                <td align="center">{{ log.hora}}</td>
                <td align="center">{{ log.saldo_inicial}}</td>
                <td align="center">{{ log.saldo}}</td>
                <td align="center">{{ log.debito}}</td>
                <td align="center">{{ log.credito}}</td>
                <td align="center">{{ log.autorizacion}}</td>
                <td align="center">{{ log.rechazo}}</td>
                <td align="center">{{ log.razonRechazo}}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        No hay logs para mostrar
    {% endif %}
{% endblock %}