{% extends "Lote/Base.html" %}
{% block content %}
        <h1>Lotes</h1>
        <table style="width:80%" border="1">
            <tr>
                <th>Minimo</th>
                <th>Maximo</th>
                <th>Descripción</th>
            </tr>
            {% for lote in lotes %}
                <tr>

                    <td>{{ lote.min }}</td>
                    <td>{{ lote.maximo }}</td>
                    <td>{{ lote.descripcion}}</td>
                </tr>
            {% endfor %}
        </table>


        <h1>Vouchers</h1>
        <table style="width:80%" border="1">
            <tr>
                <th>Descripción </th>
                <th>Monto </th>
                <th>Fecha y hora</th>
            </tr>
            {% for voucher in vouchers%}
                <tr>

                    <td>{{ voucher.descripcion}}</td>
                    <td>{{ voucher.monto }}</td>
                    <td>{{ voucher.idTrasaccion.hora}}</td>
                </tr>
            {% endfor %}
        </table>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
{% endblock %}