<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/TipoAfiliado/buscar/" method="post">
{% if form%}
    {% csrf_token %}
    {{ form.as_p }}
{% endif %}
<input type="submit" value="Buscar" />
</form>
<br>
{% if t %}

    Nombre : {{ t.nombre }} <br>
    Descripción: {{ t.descripcion}}<br>
    Porcentaje:{{ t.porcentaje }}<br>

    <br>
    <form action="/TipoAfiliado/eliminar/{{ t.id}}/" method="get"> <input type="submit" value="Eliminar" /> </form><br>
    <form action="/TipoAfiliado/bloquear/{{ t.id}}/" method="get"> <input type="submit" value="Bloquear" /> </form><br>
    <form action="/TipoAfiliado/editar/{{ t.id}}/" method="get"> <input type="submit" value="Editar" /> </form><br>
{% endif %}
    <form action="/TipoAfiliado/index/" method="get"> <input type="submit" value="Regresar a inicio"></form><br>
</body>
</html>