{% extends "Afiliado/Base.html" %}

{% block content %}
    <form action="/Afiliado/buscar/" method="post">
    {% if form%}
        {% csrf_token %}
        {{ form.as_p }}
    {% endif %}
    <input type="submit" value="Buscar" />
    </form>
    <br>
    {% if afiliado %}

        Nombre Afiliado: {{ afiliado.nombre }} <br>
        Dirección: {{ afiliado.direccion }}<br>
        Teléfono:{{ afiliado.telefono }}<br>
        Correo:{{ afiliado.correo }}<br>

        <br>
        <form action="/Afiliado/eliminar/{{ afiliado.id}}/" method="get"> <input type="submit" value="Eliminar" /> </form><br>
        <form action="/Afiliado/bloquear/{{ afiliado.id}}/" method="get"> <input type="submit" value="Bloquear" /> </form><br>
        <form action="/Afiliado/editar/{{ afiliado.id}}/" method="get"> <input type="submit" value="Editar" /> </form><br>
    {% endif %}
{% endblock %}
