<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link href="{% static "default.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "fonts.css" %}" rel="stylesheet" type="text/css" media="all" />

    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/ajax.js" %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>
    {% block title %} {% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
        <div align="right">
            {% if not user.is_authenticated %}
                <form action="/login/" method="get">
                    <input type="submit" value="login" class="boton">
                </form>
            {% else %}
                <form action="/logout/" method="get">
                    <input type="submit" value="logout" class="boton">
                </form>
                <form action="/Usuarios/registrar/" method="get">
                    <input type="submit" value="Sing In" class="boton">
                </form>
            {% endif %}
        </div>

		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Amadeus Bank</a></h1>
			</div>
		</div>

	</div>
    <div id="sidebar3" class="container">
            {% block sidebar %}

            {% endblock %}
    </div>
	<div id="page" class="container">
    
		{% block content %}


		{% endblock %}
	</div>
</div>
<div id="footer">
	<p>Sistemas de Base de Datos 2 :: Grupo 1</p>
</div>
</body>
</html>

