{% extends "Base.html" %}
    {% load staticfiles %}
    {% block title %}
        <title> Amadeus Bank</title>
    {% endblock %}
    {% block sidebar %}
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'Clientes' %}">Clientes</a></li>
                <li><a href="{% url 'Cuentas' %}">Cuentas</a></li>
                <li><a href="{% url 'Tarjetas' %}">Tarjetas</a></li>
                <li><a href="{% url 'TipoAfiliado' %}">Tipo Afiliado</a></li>
                <li><a href="{% url 'Afiliado' %}">Afiliado</a></li>
                <li><a href="{% url 'Lote' %}">Lote</a></li>
                <li><a href="{% url 'Notas' %}">Notas</a></li>
                <li><a href="{% url 'Autorizacion' %}">Autorizacion</a></li>
                <li><a href="{% url 'Caja' %}">Caja</a></li>
            </ul>
        {% endif %}
    {%  endblock %}
    {%  block content  %}

        <div class="column1">
            <div class="title">
                <h2>Vision</h2>
            </div>
            <img src="{% static "images/banco.jpeg" %}" width="282" height="150" alt="" />
            <p>Ofrecer los mejores servicios de cretido a los clientes, y afiliados, bindandoles la confianza del prestamo. </p>
        </div>
        <div class="column2">
            <div class="title">
                <h2>Ahorro</h2>
            </div>
            <img src="{% static "images/ahorro.jpeg" %}" width="282" height="150" alt="" />
            <p>Ahorros con mejor control.</p>
        </div>
        <div class="column3">
            <div class="title">
                <h2>Creditos</h2>
            </div>
            <img src="{% static "images/credito.jpg" %}" width="282" height="150" alt="" />
            <p>Se ofrece creditos en "Amadeus Bank".</p>
        </div>
        <div class="column4">
            <div class="title">
                <h2>Dinero</h2>
            </div>
            <img src="{% static "images/dinero.jpeg" %}" width="282" height="150" alt="" />
            <p>Necesitas ayudar monetaria "Amadeus Bank" te lo da.</p>
        </div>
    {% endblock %}
