{%  extends "Base.html" %}
    {% load staticfiles %}
    {% block title %}
        <title>Gerente</title>
    {% endblock %}
    {% block sidebar %}
        <ul >
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'SaldosEmisor' %}">Saldos por Emisor</a></li>
            <li><a href="{% url 'EvolucionSaldos' %}">Evolucion de Saldos Promedios</a></li>
            <li><a href="{% url 'QueryGas' %}">Emisores Gasolinera</a></li>
            <li><a href="{% url 'QueryNoGas' %}">Emisores No Gasolinera</a></li>
        </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}