{% extends "Gerente/Base.html" %}

{% block content %}
    <head>
        {% load chartit %}
        {{ weatherchart|load_charts:"container" }}
    </head>
    <body>
        <div id='container'> Chart will be rendered here </div>

        {% if datos.count %}
            <table style="width:100%" border="1" align="center">
            <tr>
                <th>Fecha y Hora</th>
                <th>Saldo Promedio</th>
            </tr>
                {% for dato in datos %}
                <tr>
                    <td align="center">{{ dato.fecha }}</td>
                    <td align="center">{{ dato.saldo }}</td>
                </tr>
                {% endfor %}

            </table>
        {% else %}
            No hay datos para mostrar
        {% endif %}
    </body>
{% endblock %}