{%  extends "Base.html" %}
    {% load staticfiles %}
    {% block title %}
       <title> Tarjetas</title>
    {% endblock %}
    {% block sidebar %}
        <ul >
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'Crear_Tarjeta' %}">Crear</a></li>
            <li><a href="{% url 'Asignar_Tarjeta' %}">Asignar</a></li>
            <li><a href="{% url 'CrearEstado_Tarjeta' %}">Tipo Estado</a></li>
        </ul>
    {% endblock %}

    {% block content %}

    {% endblock %}