<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Usuario</title>
</head>
<body>
<form action="/Clientes/buscar/" method="post">
{% if form%}
    {% csrf_token %}
    {{ form.as_p }}
{% endif %}
<input type="submit" value="Buscar" />
</form>
<br>
{% if usuario %}

    Nombre Usuario: {{ usuario.nombre }} <br>
    Dirección: {{ usuario.direccion }}<br>
    Teléfono:{{ usuario.telefono }}<br>
    Correo:{{ usuario.correo }}<br>
    Fecha de Nacimiento:{{ usuario.fechaNacimiento }}<br>
    Profesión:{{ usuario.profesion }}<br>
    Genero:{{ usuario.genero }}<br>

    <br>
    <form action="/Clientes/eliminar/{{ usuario.id}}/" method="get"> <input type="submit" value="Eliminar" /> </form><br>
    <form action="/Clientes/editar/{{ usuario.id}}/" method="get"> <input type="submit" value="Editar" /> </form><br>
{% endif %}
    <form action="/Clientes/index/" method="get"> <input type="submit" value="Regresar a inicio"></form><br>
</body>
</html>